.container{
    margin: 25vh;
}
button{
    margin: 20px;
    width: 100%;
}

body{
    background-image: url('https://wallpaperaccess.com/full/4220050.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
h1{
    font-family: 'Share Tech Mono';
    text-align: center;
    margin: 5px;
}